* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #f6e4ea;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 2em auto;
}

img {
    width: 200px;
    margin: 0 auto;
}

input,
button {
    border: none;
    padding: 1em;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
}

input {
    color: #785c00;
    background-color: #dfecba;
    margin: .8em 0;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

button {
    color: #FDFDFD;
    background-color: #f38da8;
    margin-bottom: 1em;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #f69bb3;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 1.2rem;
    background-color: #fef8b4;
    color: #785c00;
    padding: 1em;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
    background-color: #f9f6d1;
    cursor: pointer;
}